@media (max-width: 784px) {
  #header {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    height: 140px;
    padding-bottom: 20px;
  }
  #header h1 {
    text-align: center;
  }

  #content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: space-between;
    grid-column-gap: auto;
  }

  #projects {
    display: grid;
    grid-template-columns: 1fr; /*auto-fill: calcula las columnas necesarias*/
    grid-gap: 20px;
  }

  .project {
    margin-left: 10px;
    margin-right: 10px;
  }

  #aside {
    margin-right: 0px;
    padding: 15px;
  }

  #aside ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  #footer .logo {
    text-align: center !important;
  }
}
